body{ font-family:"Montserrat";
background-color:#494645;}

.h1 {font-family: 'Montserrat Alternates', sans-serif; 
    font-size: 3rem;  
    line-height: 1.5;
}
			
#title{background-color: #ff4c68;
    color: #fff;
}

.container{padding: 3% 15%; 
}  

.container-md{margin-top:6em;
    margin-bottom:3em;
font-family:'Merienda', "cursive";

}
.icon{color:#df6969; font-size:6em;}
.icon:hover{ color: rgb(194, 5, 5);}


#testimonials{text-align: center;
    padding: 7% 15%;
    font-family:"Montserrat";
background-color:#ff4c68;
color:#fff;}

.testimonials{
width: 10%;
border-radius:100%;
margin:1em;}

#press{background-color:#ff4c68;

text-align: center;}

.press{width:12em;
    margin-bottom: 2em;
padding: 0.5em}

.testimonial-image{
    border-radius:100%;
width: 10%;}

.carousel-item{padding: 7% 15%;
}

#pricing{text-align: center;
padding:7% 15%;
background-color:#f0e3e4;
}

.card{text-align:center
}

.pricing{padding:0 0 4%;
    font-family: 'Outfit', sem serifa;    
    line-height: 1.5em;
}
.pri{padding:0 0 3%;
color:#a7a3a1}






